:root {
  --color_primary: cyan;
  --color_secondary: salmon;
  --color_secondary_light: LightSalmon;
  --color_light: white;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color_primary);
  height: 3rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.main-content {
  width: 100%;
  height: calc(100% - 3rem);
  display: flex;
}
